[Desktop Entry]
Version=1.0
Name=Deluge
Name[ast]=Deluge
Name[be]=Deluge
Name[bg]=Deluge
Name[cy]=Deluge
Name[da]=Deluge
Name[de]=Deluge
Name[el]=Deluge
Name[en_AU]=Deluge
Name[en_CA]=Deluge
Name[et]=Deluge
Name[fy]=Deluge
Name[gl]=Deluge
Name[hi]=डिल्यूज
Name[hr]=Deluge
Name[id]=Deluge
Name[is]=Deluge
Name[ja]=Deluge
Name[ka]=დელუჯი
Name[kk]=Deluge
Name[ko]=Deluge
Name[lt]=Deluge
Name[lv]=Deluge
Name[mk]=Deluge
Name[ms]=Deluge
Name[nb]=Deluge
Name[nl]=Deluge
Name[pl]=Deluge
Name[ro]=Deluge
Name[sl]=Deluge
Name[sr]=Deluge
Name[sv]=Deluge
Name[tr]=Deluge
Name[uk]=Deluge
Name[zh_CN]=Deluge
Name[zh_TW]=Deluge
GenericName=BitTorrent Client
GenericName[ca]=Client de BitTorrent
GenericName[da]=BitTorrent-klient
GenericName[hr]=BitTorrent klijent
GenericName[sv]=Bittorrentklient
GenericName[uk]=Клієнт BitTorrent
X-GNOME-FullName=Deluge BitTorrent Client
X-GNOME-FullName[ca]=Client de BitTorrent Deluge
X-GNOME-FullName[da]=Deluge BitTorrent-klient
X-GNOME-FullName[hr]=Deluge BitTorrent klijent
X-GNOME-FullName[sv]=Deluge bittorrentklient
X-GNOME-FullName[uk]=BitTorrent клієнт Deluge
Comment=Download and share files over BitTorrent
Comment[ca]=Baixeu i compartiu fitxers a través de BitTorrent
Comment[da]=Download og del filer over BitTorrent
Comment[hr]=Preuzimajte i dijelite datoteke putem BitTorrenta
Comment[sv]=Hämta och dela filer över bittorrent
Comment[uk]=Завантаження та обмін файлами через BitTorrent
TryExec=deluge-gtk
Exec=deluge-gtk %U
Icon=deluge
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
StartupWMClass=deluge
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-Delay=60